* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;

  }
  
  body {
    font-family: "Arial", sans-serif;
    background: url("https://cdn.searchenginejournal.com/wp-content/uploads/2018/09/25-of-the-Best-Examples-of-Effective-FAQ-Pages-1520x800.png");
    color: white;
    font-display: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  section {
    width: 100%;
    margin: 0 -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 40px;
    margin: 30px 0;
    color: gold;
  }
  
  .faq {
    max-width: 1000px;
    margin-top: 20px;
    padding: 20px;
    border: 1.5px solid whitesmoke;
    cursor: pointer;
    border-radius: 15px;
    backdrop-filter: blur(8.5px);
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h3 {
    font-size: 25px;
    color: palegreen;
    font-style: oblique;
  }
  
  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in;
    transition: padding 0.8s ease-in;
    transition: line-height 0.8s ease-out;
    color: whitesmoke;
    
  }
  
  .answer p {
    padding-top: 20px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: lighter;
  }
  
  .faq.active .answer {
    max-height: 300px;
    animation: fade 0.8s ease;
  }
  
  .faq.active i {
    transform: rotate(180deg);
    background-clip: border-box;
  }
  
  i {
<<<<<<< HEAD
    transition: transform 0.2s ease-in;
=======
    transition: transform 0.5s ease;
>>>>>>> 49896b9e7e44ef69e3fba68325d736131affc14f
    color: yellow;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @media screen and (max-width: 768px) {
    section {
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 1024px) {
    section {
      margin: 0 auto;
    }
  }
