name: kelompokLima

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run Docker Compose
     # run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
      run: |
        docker-compose up -d
        docker ps
